#slider {
	margin: 0 auto;
}
.all-imgs {
	margin: 0 auto;
	white-space: nowrap;
	overflow: hidden;
	width: 150px;
}
#slider ul {
	padding: 0;
	display: inline-block;
	font-size: 0;
	list-style-type: none;
}
.img-wrapper {
	display: inline-block;
	width: 100%;
	width: 150px;
}
.img-wrapper img {
	display: block;
	width: 100%;
	/*display: none;*/
}
#imgs-wrapper {
	width: 150px;
	height: 100px;
}
.controls label {
	padding: 5px 10px;
	border: 1px solid black;
}
input[type="radio"][name="slider-controller"] {
	display: none;
}
#as1:checked ~ .all-imgs ul {
	margin-left: 0px;
}
#as2:checked ~ .all-imgs ul {
	margin-left: -150px;
}
#as3:checked ~ .all-imgs ul {
	margin-left: -300px;
}

.all-imgs ul {
	transition: margin-left 2s ease-out;
}